.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode .navbar {
    background-color: #333 !important;
}

.dark-mode .card {
    background-color: #222;
    color: white;
}

.dark-mode footer {
    background-color: #333;
}

.dark-mode a {
    color: #1e90ff; /* Cambia los enlaces a un azul claro */
}
